@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}

body{
    @apply bg-gray-900 h-full overflow-x-hidden;
}
#__next{
    @apply h-full;
}
html{
    @apply h-full;
}

body {
    font-family: sans-serif;
    background-color: #111;
}
